* {
	background-color: #2B5696;
	color: white;
	text-align: center;
	margin: 0px;
	font-family: Calibri, Arial, sans-serif;
	width: 1200px;
}

.moon {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: 20px 20px 0px 0px #FEC34E;
	position: fixed;
	margin: 50px 0px 0px 50px;
}



h3 {
	text-align: right;
	top: 10px;
	right: 10px;
	position: fixed;
	background-color: black;
	padding: 10px 10px 10px 10px;
	width: auto;
}

.gutter {
	height: 10px;
	width: auto;
}

#moon {
	height: auto;
	width: auto;
	background-color: black;
	padding: 3px 3px 3px 3px;
}

