.stanza1 {
	padding: 20px 20px 20px 20px;
	margin: 10px 10px 10px 10px;
	border: 2px dashed black;
	width: 300px;
}

h3 {
	float: right;
}

.stanza2 {
	width: 400px;
	border: 100px solid black;
	padding: 20px 20px 20px 20px;
	float: left;
}

.stanza3 {
	width: 300px;
	border: 50px dashed red;
	padding: 20px 20px 20px 20px;
}

.stanza4 {
	border: 25px dashed blue;
	padding: 20px 20px 20px 20px;
	position: 30px;
	width: 500px;
}

.stanza6 {
	border: 15px solid green;
	padding: 20px 20px 20px 20px;
	width: 300px;
	float: left;
}

.stanza8 {
	border: 20px dashed yellow;
	width: 500px;
}