* {
	background-color: #FAEED5;
	text-align: center;
}

body {
	font-size: 14px;
	font-family: Calibri, Arial, sans-serif;
}


.end {
	background-color: black;
	width: 12px;
	height: 12px;
	margin: auto;
	border-radius: 50px;
}