header {
    background: red;
}

nav {
    background: blue;
}

section {
    background: orange;
}

footer {
    background: red;
}

@media screen and (min-width: 600px) {
    nav {
        float: left;
        width: 25%;
    }

    section {
        margin-left: 25%;
    }
    footer {
        clear: both;
    }
}

@media screen and (max-width: 599px) {
    nav li {
        display: inline;
    }
}