* {
	background-color: #C02555;
	color: black;
	text-align: center;
	margin: 0px;
	font-family: Calibri, Arial, sans-serif;
	width: 1200px;
}

.left-eye {
	background-color: white;
	height: 200px;
	width: 200px;
	border-radius: 100px;
	float: left;
	margin-left: 200px;
	margin-top: 150px;
}

.right-eye {
	background-color: white;
	height: 200px;
	width: 200px;
	border-radius: 100px;
	float: right;
	margin-right: 200px;
	margin-top: 150px;
}

.top {
	background-color: black;
	height: 500px;
	width: auto;
	clear: both;
}

.bottom {
	background-color: black;
	height: 200px;
	width: auto;
	clear: both;
}

h3 {
	text-align: center;
	background-color: black;
	padding: 10px 10px 10px 10px;
	width: 350px;
	color: white;
	margin-left: 425px;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 200px solid white;
	float: left;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 200px solid white;
	float: left;
}

.space {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 200px solid transparent;
	float: left;
}

.left-ear {
	width: 0;
	height: 0;
	border-bottom: 200px solid black;
	border-right: 200px solid transparent;
	float: left;
}

.right-ear {
	width: 0;
	height: 0;
	border-bottom: 200px solid black;
	border-left: 200px solid transparent;
	float: right;
}

.stanza {
	padding: 10px 10px 10px 10px;
}